<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='12'>
        <ion-card>
          Hola
        </ion-card>
      </ion-col>
      <ion-col size='6'>
        <ion-card>
          Hola
        </ion-card>
      </ion-col>
      <ion-col size='6'>
        <ion-card>
          Hola
        </ion-card>
      </ion-col>
      <ion-col size='6'>
        <ion-card>
          Hola
        </ion-card>
      </ion-col>
      <ion-col size='6'>
        <ion-card>
          Hola
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>